.cards-page {
    padding: 20px;
    text-align: center;
    background-color: #F5EFE7; /* Light background for the entire page */
}

.manage-cards-button {
    background-color: #3E5879; /* Dark blue for the button */
    color: #F5EFE7; /* Light text color */
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.manage-cards-button:hover {
    background-color: #213555;
    transform: translateY(-2px);
}

.cards-grid {
    display: grid;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
    background-color: #D8C4B6; 
    border-radius: 10px;
    justify-items: start;
}

.card-container {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 0px;
    background-color: #F5EFE7; /* Light background for each card */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.delete-card-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #3E5879; /* Red color for delete button */
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.delete-card-button:hover {
    background-color: #213555; /* Darker red on hover */
    transform: translateY(-2px);
}